<!doctype html>
<html ng-app="myapp">
<head>
	<style type="text/css">
		div
		{
			display: block;
		}

		div.testCase
		{
			background-color: #90ee90;
			margin-bottom: 25px;
		}

		div.testCase > span
		{
			display: block;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>

	<script type="text/javascript" src="../utils/angular.directives.utils.js"></script>
	<script type="text/javascript" src="../directives/angular.directives.float.js"></script>
	<script type="text/javascript">
		angular.module("myapp", ['angular.directives.float']);
	</script>
</head>
<body>
<div>
	<div class="testCase">
		<span>In order for the directive to work, it must bind to an existing ng-model</span>
        <span><label>
			Model:
			<input type="text" ng-model="age" />

		</label></span>
		<span>Directive
			  :
			<float ng-model="age" minval="-1222.54" maxval="1222.55" culture="nl" precision="-1"
				   default="0"></float></span>
	</div>

	<div class="testCase">
		<span>The directive only allows inputs in a given range</span>
		<span>The range is -15 to 15:<float ng-model="test1" minval="-15" maxval="15"></float></span>

		<span>If a minimum value is positive, the directive will not accept the minus character</span>
		<span>Minimum value is 15:<float ng-model="test2" minval="15"></float></span>

		<span>If an input is greater than a maximum value, the model changes to that maximum value</span>
		<span>Maximum value is -15:<float ng-model="test3" maxval="-15"></float></span>

	</div>
</div>
</body>

</html>